body{
    padding:0px;
    margin: 10px;
    width: 98%;
    height: 100%;
    background-color:#1F4788;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

.content,
#app {
    height: 100%;
}

    #app .win-splitviewpanetoggle {
        float: left;
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-navbarcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: #eee;
    overflow-y: auto;
}

#imgs-area{
    margin: 0 auto;
    width:90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px 0px 20px 20px;
}

.center {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

.msg {
    color: black;
    opacity: 0.7;
}

.bol{
    display: flex;
    justify-content: space-between;
}
.h{
    border-radius: 5px; 
    padding:8px;
    text-align: center;
    width: 20%;    
    background-color: #eee;
    color:black;

    -moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   box-shadow:          0 0 2px #000000;
}